f/fuelprice/models/schema.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema elementFormDefault="qualified" version="1.0" targetNamespace="http://schemas.mobility-media.com/wsdl/fuelprice/v1/model" xmlns:tns="http://schemas.mobility-media.com/wsdl/fuelprice/v1/model" xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <xs:complexType name="FuelStation">
    <xs:sequence>
      <xs:element name="location" type="tns:GeoLocation"/>
      <xs:element name="address" type="tns:Address"/>
      <xs:element name="name" type="xs:string"/>
      <xs:element name="brand" type="tns:Brand" minOccurs="0"/>
      <xs:element name="services" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="service" type="tns:Service" form="unqualified" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="fuelCards" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="fuelCard" type="tns:FuelCard" form="unqualified" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="paymentMethods" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="paymentMethod" type="tns:PaymentMethod" form="unqualified" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="openingHours" type="tns:OpeningHours" minOccurs="0"/>
      <xs:element name="country" type="tns:Country"/>
      <xs:element name="providerId" type="xs:string" minOccurs="0"/>
    </xs:sequence>
    <xs:attribute name="id" type="xs:long"/>
    <xs:attribute name="provider" type="xs:string" use="required"/>
    <xs:attribute name="lastUpdate" type="xs:dateTime"/>
  </xs:complexType>

  <xs:complexType name="GeoLocation">
    <xs:sequence>
      <xs:element name="latitude" type="xs:double"/>
      <xs:element name="longitude" type="xs:double"/>
    </xs:sequence>
    <xs:attribute name="ellipsoid" type="xs:string" use="required"/>
  </xs:complexType>

  <xs:complexType name="Address">
    <xs:sequence>
      <xs:element name="line1" type="xs:string"/>
      <xs:element name="line2" type="xs:string"/>
      <xs:element name="city" type="xs:string"/>
      <xs:element name="postalCode" type="xs:string"/>
      <xs:element name="country" type="xs:string"/>
      <xs:element name="stateRegion" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="Brand">
    <xs:sequence/>
    <xs:attribute name="key" type="xs:string" use="required"/>
  </xs:complexType>

  <xs:complexType name="Service">
    <xs:sequence/>
    <xs:attribute name="key" type="xs:string" use="required"/>
  </xs:complexType>

  <xs:complexType name="FuelCard">
    <xs:sequence/>
    <xs:attribute name="key" type="xs:string" use="required"/>
  </xs:complexType>

  <xs:complexType name="PaymentMethod">
    <xs:sequence/>
    <xs:attribute name="key" type="xs:string" use="required"/>
  </xs:complexType>

  <xs:complexType name="OpeningHours">
    <xs:sequence>
      <xs:element name="default">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="item" form="unqualified" nillable="true" minOccurs="0" maxOccurs="unbounded">
              <xs:complexType>
                <xs:complexContent>
                  <xs:extension base="tns:OpeningHoursDay">
                    <xs:sequence/>
                    <xs:attribute name="day" type="xs:int" use="required"/>
                  </xs:extension>
                </xs:complexContent>
              </xs:complexType>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="exceptions">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="exceptionItem" form="unqualified" nillable="true" minOccurs="0" maxOccurs="unbounded">
              <xs:complexType>
                <xs:complexContent>
                  <xs:extension base="tns:OpeningHoursDay">
                    <xs:sequence/>
                    <xs:attribute name="date" type="xs:date" use="required"/>
                  </xs:extension>
                </xs:complexContent>
              </xs:complexType>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="OpeningHoursDay">
    <xs:sequence>
      <xs:element name="interval" nillable="true" minOccurs="0" maxOccurs="unbounded">
        <xs:complexType>
          <xs:complexContent>
            <xs:extension base="tns:TimeInterval">
              <xs:sequence/>
            </xs:extension>
          </xs:complexContent>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="TimeInterval">
    <xs:sequence>
      <xs:element name="start" type="tns:Time"/>
      <xs:element name="end" type="tns:Time"/>
      <xs:element name="orderNum" type="xs:int"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="Time">
    <xs:sequence/>
    <xs:attribute name="hours" type="xs:int" use="required"/>
    <xs:attribute name="minutes" type="xs:int" use="required"/>
  </xs:complexType>

  <xs:complexType name="Country">
    <xs:sequence/>
    <xs:attribute name="code" type="xs:string" use="required"/>
    <xs:attribute name="timezone" type="xs:string"/>
  </xs:complexType>

  <xs:complexType name="Complaint">
    <xs:sequence>
      <xs:element name="reporter" type="tns:Person" minOccurs="0"/>
      <xs:element name="reportTime" type="xs:dateTime"/>
      <xs:element name="observeTime" type="xs:dateTime"/>
      <xs:element name="approval" type="tns:Approval" minOccurs="0"/>
      <xs:element name="forwardTime" type="xs:dateTime" minOccurs="0"/>
      <xs:element name="issues" type="tns:ComplaintIssues"/>
    </xs:sequence>
    <xs:attribute name="id" type="xs:long"/>
    <xs:attribute name="fuelStationId" type="xs:long" use="required"/>
    <xs:attribute name="provider" type="xs:string" use="required"/>
    <xs:attribute name="client" type="xs:string"/>
    <xs:attribute name="status" type="tns:ComplaintStatus"/>
    <xs:attribute name="type" type="tns:ComplaintType" use="required"/>
  </xs:complexType>

  <xs:complexType name="Person">
    <xs:sequence>
      <xs:element name="fullName" type="xs:string" minOccurs="0"/>
      <xs:element name="email" type="xs:string" minOccurs="0"/>
      <xs:element name="phone" type="xs:string" minOccurs="0"/>
      <xs:element name="address" type="tns:Address" minOccurs="0"/>
    </xs:sequence>
    <xs:attribute name="userId" type="xs:long"/>
  </xs:complexType>

  <xs:complexType name="Approval">
    <xs:sequence>
      <xs:element name="approvalTime" type="xs:dateTime"/>
      <xs:element name="comment" type="xs:string" minOccurs="0"/>
    </xs:sequence>
    <xs:attribute name="approverId" type="xs:long" use="required"/>
    <xs:attribute name="rejected" type="xs:boolean"/>
  </xs:complexType>

  <xs:complexType name="ComplaintIssues">
    <xs:sequence>
      <xs:element name="note" type="xs:string"/>
      <xs:element name="reason" type="xs:string"/>
      <xs:element name="data">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="price" type="tns:PriceComplaint" form="unqualified" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="address" type="tns:AddressComplaint" form="unqualified" minOccurs="0"/>
            <xs:element name="openingHours" form="unqualified" minOccurs="0">
              <xs:complexType>
                <xs:sequence>
                  <xs:element name="openingHoursDay" form="unqualified" nillable="true" minOccurs="0" maxOccurs="unbounded">
                    <xs:complexType>
                      <xs:complexContent>
                        <xs:extension base="tns:OpeningHoursComplaint">
                          <xs:sequence/>
                        </xs:extension>
                      </xs:complexContent>
                    </xs:complexType>
                  </xs:element>
                </xs:sequence>
              </xs:complexType>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="PriceComplaint">
    <xs:sequence>
      <xs:element name="statetPrice" type="tns:Price" minOccurs="0"/>
      <xs:element name="actualPrice" type="tns:Price" minOccurs="0"/>
    </xs:sequence>
    <xs:attribute name="fuelType" type="xs:string" use="required"/>
  </xs:complexType>

  <xs:complexType name="Price">
    <xs:simpleContent>
      <xs:extension base="xs:float">
        <xs:attribute name="currency" type="xs:string" use="required"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>

  <xs:complexType name="AddressComplaint">
    <xs:sequence>
      <xs:element name="actualAddress" type="tns:Address" minOccurs="0"/>
      <xs:element name="actualName" type="xs:string" minOccurs="0"/>
    </xs:sequence>
    <xs:attribute name="wrongGeoLocation" type="xs:boolean"/>
  </xs:complexType>

  <xs:complexType name="OpeningHoursComplaint">
    <xs:sequence>
      <xs:element name="actualHours" type="tns:OpeningHoursDay"/>
    </xs:sequence>
    <xs:attribute name="day" type="xs:int" use="required"/>
  </xs:complexType>

  <xs:complexType name="SearchFilter">
    <xs:sequence>
      <xs:element name="brands" minOccurs="0">
        <xs:complexType>
          <xs:complexContent>
            <xs:extension base="tns:KeySet">
              <xs:sequence/>
              <xs:attribute name="operator" type="tns:FilterOperator" use="required"/>
            </xs:extension>
          </xs:complexContent>
        </xs:complexType>
      </xs:element>
      <xs:element name="fuelTypes" minOccurs="0">
        <xs:complexType>
          <xs:complexContent>
            <xs:extension base="tns:KeySet">
              <xs:sequence/>
              <xs:attribute name="operator" type="tns:FilterOperator" use="required"/>
            </xs:extension>
          </xs:complexContent>
        </xs:complexType>
      </xs:element>
      <xs:element name="services" minOccurs="0">
        <xs:complexType>
          <xs:complexContent>
            <xs:extension base="tns:KeySet">
              <xs:sequence/>
              <xs:attribute name="operator" type="tns:FilterOperator" use="required"/>
            </xs:extension>
          </xs:complexContent>
        </xs:complexType>
      </xs:element>
      <xs:element name="fuelCards" minOccurs="0">
        <xs:complexType>
          <xs:complexContent>
            <xs:extension base="tns:KeySet">
              <xs:sequence/>
              <xs:attribute name="operator" type="tns:FilterOperator" use="required"/>
            </xs:extension>
          </xs:complexContent>
        </xs:complexType>
      </xs:element>
      <xs:element name="paymentMethods" minOccurs="0">
        <xs:complexType>
          <xs:complexContent>
            <xs:extension base="tns:KeySet">
              <xs:sequence/>
              <xs:attribute name="operator" type="tns:FilterOperator" use="required"/>
            </xs:extension>
          </xs:complexContent>
        </xs:complexType>
      </xs:element>
      <xs:element name="open" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="time" type="tns:Time" form="unqualified"/>
          </xs:sequence>
          <xs:attribute name="timezone" type="xs:string" use="required"/>
          <xs:attribute name="offset" type="xs:integer"/>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="KeySet">
    <xs:sequence>
      <xs:element name="key" type="xs:string" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="Area">
    <xs:sequence>
      <xs:element name="center" type="tns:GeoLocation"/>
      <xs:element name="radius" type="xs:float"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="ResultPaging">
    <xs:sequence/>
    <xs:attribute name="offset" type="xs:int" use="required"/>
    <xs:attribute name="count" type="xs:int" use="required"/>
  </xs:complexType>

  <xs:complexType name="SearchResult">
    <xs:sequence>
      <xs:element name="fuelStation" type="tns:FuelStation"/>
      <xs:element name="prices" type="tns:FuelPriceSet" minOccurs="0"/>
      <xs:element name="distance" type="xs:float" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="FuelPriceSet">
    <xs:sequence>
      <xs:element name="price" type="tns:FuelPrice" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
    <xs:attribute name="stationId" type="xs:long" use="required"/>
  </xs:complexType>

  <xs:complexType name="FuelPrice">
    <xs:sequence>
      <xs:element name="price" type="tns:Price"/>
      <xs:element name="validFrom" type="xs:dateTime" minOccurs="0"/>
      <xs:element name="lastUpdate" type="xs:dateTime"/>
    </xs:sequence>
    <xs:attribute name="stationId" type="xs:long" use="required"/>
    <xs:attribute name="provider" type="xs:string" use="required"/>
    <xs:attribute name="fuelType" type="xs:string" use="required"/>
  </xs:complexType>

  <xs:complexType name="ComplaintFilter">
    <xs:sequence>
      <xs:element name="date" minOccurs="0">
        <xs:complexType>
          <xs:sequence/>
          <xs:attribute name="from" type="xs:dateTime"/>
          <xs:attribute name="to" type="xs:dateTime"/>
        </xs:complexType>
      </xs:element>
      <xs:element name="provider" type="xs:string" minOccurs="0"/>
      <xs:element name="client" type="xs:string" minOccurs="0"/>
      <xs:element name="stationId" type="xs:long" minOccurs="0"/>
      <xs:element name="name" type="xs:string" default="" minOccurs="0"/>
      <xs:element name="hasFuelPrice" type="xs:boolean" minOccurs="0"/>
      <xs:element name="hasAddress" type="xs:boolean" minOccurs="0"/>
      <xs:element name="hasOpeningHours" type="xs:boolean" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:simpleType name="ComplaintStatus">
    <xs:restriction base="xs:string">
      <xs:enumeration value="NEW"/>
      <xs:enumeration value="APPROVED"/>
      <xs:enumeration value="REJECTED"/>
      <xs:enumeration value="FORWARDED"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="ComplaintType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="CALLCENTER"/>
      <xs:enumeration value="USER"/>
      <xs:enumeration value="SYSTEM"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="FilterOperator">
    <xs:restriction base="xs:string">
      <xs:enumeration value="AND"/>
      <xs:enumeration value="OR"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="AreaResultOrder">
    <xs:restriction base="xs:string">
      <xs:enumeration value="DISTANCE"/>
      <xs:enumeration value="PRICE"/>
      <xs:enumeration value="UNDEFINED"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="UpdateThresholdMode">
    <xs:restriction base="xs:string">
      <xs:enumeration value="CHANGED"/>
      <xs:enumeration value="UPDATED"/>
    </xs:restriction>
  </xs:simpleType>
</xs:schema>

