l/lightstalker89/schemas/p2.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://www.opengis.net/gml" xmlns:p2="http://www.opengis.net/gml">
  <xs:element name="Point" type="p2:PointType"/>
  <xs:complexType name="PointType">
    <xs:sequence>
      <xs:element ref="p2:pos"/>
    </xs:sequence>
    <xs:attribute name="srsName" use="required" type="xs:NMTOKEN"/>
  </xs:complexType>
  <xs:element name="pos" type="xs:string"/>
</xs:schema>
